<div style="place-items: center;" class="container text-center">
  <main>
    <img src="/images/construct.png" id="ancla" />
    <div id="ojos">
      <img src="/images/eye.png" class="ojos" style="top:-136px; left:1px;" />
      <img src="/images/eye.png" class="ojos" style="top:-136px; left:40px;" />
    </div>
  </main>
  <h1 style="margin-top: 5vh;">We are working on it...</h1>
  <img src="/images/ruedas.webp" alt="working" height="200vh" width="220vw"/>
</div>